*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Spectral", serif;
  color: #111;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6; }

.h1 {
  font-size: 7.2rem;
  letter-spacing: 1.2rem;
  line-height: 1.2; }

.h2 {
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  line-height: 1.2; }

.h3 {
  font-size: 4rem;
  letter-spacing: 1.1rem;
  line-height: 1.2; }

.h4 {
  font-size: 3rem;
  letter-spacing: 1.1rem;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Dancing Script", cursive; }

.h5 {
  font-size: 2.7rem;
  letter-spacing: 0.9rem;
  line-height: 1.2;
  font-weight: 300;
  font-family: "Dancing Script", cursive; }

.h6 {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1.1;
  font-weight: 300;
  font-family: "Dancing Script", cursive; }

.root-container {
  display: grid;
  grid-template-rows: [navbar-start] 6rem [navbar-end header-start] calc(100vh - 6rem) [header-end gallery-start] 1fr [gallery-end about-start] max-content [about-end services-start] minmax(max-content, 100vh) [services-end reviews-start] max-content [reviews-end contact-start] max-content [contact-end footer-start] max-content [footer-end];
  grid-template-columns: 1fr;
  overflow-x: hidden;
  background-color: #efece2; }
  .root-container > * {
    margin: 0 1.5rem; }

*[class*="subtitle"] {
  margin-top: 2rem; }

.btn-link, .btn-link:link, .btn-link:active {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #181818;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #efece2;
  transition: all 0.2s; }

.btn-link:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.3rem 3rem rgba(0, 0, 0, 0.3); }

.btn-link:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.1rem 2rem rgba(0, 0, 0, 0.15); }

.btn, .btn:active {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: #181818;
  border: 1px solid #181818;
  border-radius: 1px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s; }

.btn:hover {
  color: #fafafa;
  background-color: #181818; }

.form__group {
  position: relative; }

.input,
.textarea {
  width: 100%;
  height: 4rem;
  border: none;
  border-bottom: 1px solid #181818;
  background-color: transparent;
  color: #111;
  font-size: 1.6rem;
  transition: all 0.2s; }
  .input::placeholder,
  .textarea::placeholder {
    opacity: 1;
    transition: all 0.2s; }
  .input:focus,
  .textarea:focus {
    outline: none;
    border-bottom: 1px solid #459fed; }
    .input:focus::placeholder,
    .textarea:focus::placeholder {
      opacity: 0; }
  .input:focus:invalid,
  .textarea:focus:invalid {
    border-bottom: 1px solid #ff4040; }

.textarea {
  resize: none;
  height: 12rem; }

.label {
  position: absolute;
  top: 0;
  left: 0;
  color: #111;
  font-size: 1.4rem;
  opacity: 0;
  transform: translateY(2.5rem);
  transition: all 0.2s; }

.textarea:not(:placeholder-shown) + label,
.textarea:focus + label {
  opacity: 1;
  transform: translateY(-0.5rem); }

.input:not(:placeholder-shown) + label,
.input:focus + label {
  opacity: 1;
  transform: translateY(0); }

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: header-start / header-end;
  padding: 2vw;
  color: #fafafa;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/img/header.jpg);
  background-size: cover;
  background-position: center; }
  .header__title {
    opacity: 0;
    animation-name: fade-in-slide-up;
    animation-timing-function: cubic-bezier(0.1, 0.56, 0.57, 0.96);
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .header__subtitle {
    opacity: 0;
    animation-name: fade-in-slide-up;
    animation-timing-function: cubic-bezier(0.1, 0.56, 0.57, 0.96);
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .header > .btn-link {
    opacity: 0;
    margin-top: 5rem;
    animation-name: fade-in-slide-up;
    animation-timing-function: cubic-bezier(0.1, 0.56, 0.57, 0.96);
    animation-duration: 0.75s;
    animation-delay: 0.85s;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

.navbar {
  display: flex;
  height: 100%;
  padding: 1rem 0;
  align-items: stretch;
  font-size: 1.7rem;
  color: #111;
  background-color: #efece2;
  grid-row: navbar-start / navbar-end; }
  .navbar__logo {
    margin-right: auto;
    align-self: center;
    font-size: 2.5rem;
    cursor: default; }
  .navbar__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s; }
    .navbar__item--btn:hover {
      color: #fafafa;
      background-color: #181818; }
  @media only screen and (max-width: 43.75em) {
    .navbar__item {
      padding: 0.5rem; }
      .navbar__item > .btn-link {
        padding: 0.5rem; } }

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 3.5vw);
  grid-row: gallery-start / gallery-end;
  gap: 1rem;
  padding-top: 4rem; }
  .gallery__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .gallery__item {
    z-index: 1;
    transition: all 0.2s; }
    .gallery__item:hover {
      transform: scale(1.15);
      box-shadow: 0 0 2.4rem 0.3rem #000;
      z-index: 10; }
    @media only screen and (min-width: 43.75em) {
      .gallery__item--1 {
        grid-row: 1 / span 4;
        grid-column: 1 / span 2; }
      .gallery__item--2 {
        grid-row: 1 / span 2;
        grid-column: 3 / span 2; }
      .gallery__item--3 {
        grid-row: 1 / span 6;
        grid-column: 5 / span 3; }
      .gallery__item--4 {
        grid-row: 1 / span 4;
        grid-column: 8 / span 2; }
      .gallery__item--5 {
        grid-row: 1 / span 3;
        grid-column: 10 / -1; }
      .gallery__item--6 {
        grid-row: 3 / span 2;
        grid-column: 3 / span 2; }
      .gallery__item--7 {
        grid-row: 5 / span 3;
        grid-column: 1 / span 3; }
      .gallery__item--8 {
        grid-row: 5 / span 3;
        grid-column: 4 / span 1; }
      .gallery__item--9 {
        grid-row: 5 / span 2;
        grid-column: 8 / span 2; }
      .gallery__item--10 {
        grid-row: 4 / span 2;
        grid-column: 11 / -1; }
      .gallery__item--11 {
        grid-row: 8 / -1;
        grid-column: 1 / span 2; }
      .gallery__item--12 {
        grid-row: 8 / -1;
        grid-column: 3 / span 2; }
      .gallery__item--13 {
        grid-row: 7 / -1;
        grid-column: 5 / span 1; }
      .gallery__item--14 {
        grid-row: 7 / -1;
        grid-column: 6 / span 3; }
      .gallery__item--15 {
        grid-row: 4 / span 3;
        grid-column: 10 / span 1; }
      .gallery__item--16 {
        grid-row: 7 / span 2;
        grid-column: 9 / span 2; }
      .gallery__item--17 {
        grid-row: 9 / span 1;
        grid-column: 9 / span 2; }
      .gallery__item--18 {
        grid-row: 6 / -1;
        grid-column: 11 / -1; } }
  @media only screen and (max-width: 43.75em) {
    .gallery {
      grid-template-rows: none;
      grid-auto-rows: 11vh;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      flex-direction: column;
      justify-content: center;
      justify-self: center;
      width: calc(100% - 1.5rem - 1.5rem); }
      .gallery__item--tall {
        grid-row: span 2 / auto; }
      .gallery__item--wide {
        grid-column: span 2 / auto; } }
  .gallery:hover > .gallery__item:not(:hover) {
    filter: blur(1px) brightness(0.8); }
  @media only screen and (hover: none) {
    .gallery:hover > .gallery__item:not(:hover) {
      filter: none; }
    .gallery__item:hover {
      transform: none;
      box-shadow: none;
      z-index: 1; } }

.about {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  padding: 5rem 0; }
  .about__title {
    text-align: center;
    margin-top: 2rem; }
  .about__text {
    margin-top: 3rem;
    text-align: center; }
  .about__title, .about__subtitle, .about__text {
    grid-column: 2; }
  @media only screen and (max-width: 43.75em) {
    .about {
      grid-template-columns: 1fr 2.5fr 1fr; } }

.services {
  display: grid;
  grid-template-rows: 20rem 1fr;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  justify-items: center;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 2rem 1.5rem;
  background-color: #fff; }
  .services__header {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    align-self: center;
    margin-top: -5rem;
    text-align: center; }
    .services__header--title {
      margin-top: 2rem; }
  .services__card {
    grid-row: 2 / 3;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 40rem;
    padding: 2rem;
    text-align: center; }
    .services__card--title,
    .services__card > .btn {
      margin-bottom: 5rem;
      z-index: 10; }
    .services__card--title {
      letter-spacing: 0.5rem; }
    .services__card--engagement::before, .services__card--portrait::before, .services__card--family::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      opacity: 0.6;
      z-index: 1; }
    .services__card--engagement::before {
      background-image: url(../assets/img/engagement-sessions.jpg); }
    .services__card--portrait::before {
      background-image: url(../assets/img/portrait-sessions.jpg); }
    .services__card--family::before {
      background-image: url(../assets/img/family-portraits.jpg); }
  @media only screen and (max-width: 75em) {
    .services__card {
      justify-content: space-evenly; }
      .services__card--title,
      .services__card > .btn {
        margin: 0; } }

.reviews {
  display: flex;
  margin: 0;
  padding: 3rem 1.5rem;
  background-color: #fff; }
  .reviews__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 3rem;
    font-size: 1.5rem; }
    .reviews__card--quote {
      width: 6.4rem;
      height: 6.4rem;
      margin-bottom: 1rem; }
    .reviews__card--review {
      text-align: center;
      margin-bottom: auto; }
    .reviews__card--author {
      margin-top: 1rem;
      font-weight: 100;
      font-family: "Dancing Script", cursive;
      font-size: 1.6rem; }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
  padding: 4rem;
  gap: 4rem; }
  .contact__location {
    text-align: center; }
    .contact__location > *:not(:first-child) {
      margin-top: 2rem; }
  .contact__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0 15rem;
    width: 100%; }
    .contact__form--input, .contact__form--textarea {
      margin-top: 1.5rem; }
    .contact__form--subject {
      grid-column: 1 / -1; }
    .contact__form--message {
      grid-column: 1 / -1; }
    .contact__form--submit {
      background-color: #111;
      color: #fafafa;
      grid-column: 1 / -1; }
  @media only screen and (max-width: 93.75em) {
    .contact__form {
      padding: 0 5rem; } }
  @media only screen and (max-width: 75em) {
    .contact__form {
      grid-template-columns: 1fr;
      padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .contact__form {
      padding: 0 2rem; } }
  @media only screen and (max-width: 43.75em) {
    .contact__form {
      padding: 0 1rem; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  margin: 0;
  padding: 0 1.5rem;
  background-color: #fff; }
  .footer__social-medias {
    width: 20rem;
    display: flex;
    justify-content: space-evenly; }
