// COLOR VARIABLES
$color-primary: #efece2;
$color-secondary: #181818;

$font-color-primary: #111;
$font-color-secondary: #fafafa;

$box-shadow-light-center: 0 0 2.4rem 0.3rem #000;

$box-shadow-light: 0 1.1rem 2rem rgba(0, 0, 0, 0.15);
$box-shadow-mid: 0 1.3rem 3rem rgba(0, 0, 0, 0.3);

// FONT VARIABLES
$font-primary: "Spectral", serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
}
