@mixin animateHeader($delay: 0) {
  animation-name: fade-in-slide-up;
  animation-timing-function: cubic-bezier(0.1, 0.56, 0.57, 0.96);
  animation-duration: 0.75s;
  animation-delay: $delay + 0.25s;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: header-start / header-end;
  padding: 2vw;
  color: $font-color-secondary;

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../assets/img/header.jpg);
  background-size: cover;
  background-position: center;

  &__title {
    opacity: 0;

    @include animateHeader();
  }

  &__subtitle {
    opacity: 0;
    // margin: 5vw 0;
    @include animateHeader(0.25s);
  }

  > .btn-link {
    opacity: 0;
    margin-top: 5rem;

    @include animateHeader(0.6s);
  }
}
