$navbar-height: 6rem;
$body-margin-horizontal: 1.5rem;

.root-container {
  display: grid;
  grid-template-rows:
    [navbar-start] $navbar-height
    [navbar-end header-start] calc(100vh - #{$navbar-height})
    [header-end gallery-start] 1fr
    [gallery-end about-start] max-content
    [about-end services-start] 100vh
    [services-end reviews-start] max-content
    [reviews-end contact-start] max-content
    [contact-end footer-start] 8rem
    [footer-end];
  grid-template-columns: 1fr;

  overflow-x: hidden;
  background-color: $color-primary;

  > * {
    margin: 0 $body-margin-horizontal;
  }
}
