.navbar {
  display: flex;
  height: 100%;
  padding: 1rem 0;
  align-items: stretch;

  font-size: 1.7rem;
  color: $font-color-primary;
  background-color: $color-primary;

  grid-row: navbar-start / navbar-end;

  &__logo {
    margin-right: auto;
    align-self: center;
    font-size: 2.5rem;
    cursor: default;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    transition: all $default-transition-duration;

    &--btn {
      &:hover {
        color: $font-color-secondary;
        background-color: $color-secondary;
      }
    }
  }

  @include screen-sm {
    &__item {
      padding: 0.5rem;

      > .btn-link {
        padding: 0.5rem;
      }
    }
  }
}
