.reviews {
  display: flex;
  margin: 0;
  padding: 3rem $body-margin-horizontal;

  background-color: #fff;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 3rem;
    font-size: 1.5rem;

    &--quote {
      width: 6.4rem;
      height: 6.4rem;
      margin-bottom: 1rem;
    }

    &--review {
      margin-bottom: auto;
    }

    &--author {
      margin-top: 1rem;
      font-weight: 100;
      font-family: $font-secondary;
      font-size: 1.6rem;
    }
  }
}
