body {
  font-family: $font-primary;
  color: $font-color-1;
  font-weight: 300;
  line-height: 1.6;
}

.h1 {
  font-size: 7.2rem;
  letter-spacing: 1.7rem;
  line-height: 1.2;
}

.h3 {
  font-size: 4rem;
  letter-spacing: 1.1rem;
  line-height: 1.2;
}
