body {
  font-family: $font-primary;
  color: $font-color-primary;
  font-weight: 300;
  line-height: 1.6;
}

.h1 {
  font-size: 7.2rem;
  letter-spacing: 1.7rem;
  line-height: 1.2;
}

.h3 {
  font-size: 4rem;
  letter-spacing: 1.1rem;
  line-height: 1.2;
}

.h5 {
  font-size: 2.2rem;
  letter-spacing: 1.1rem;
  line-height: 1.2;
}

.btn-link {
  &,
  &:link,
  &:active {
    padding: 1rem 1.5rem;

    font-size: 1.6rem;
    font-weight: 400;
    color: $color-secondary;
    text-decoration: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    background-color: $color-primary;

    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $box-shadow-mid;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: $box-shadow-light;
  }
}
